# Data overview and cleaning
---

- [Columns](#Columns)   
- [Remove garbage values](#Remove-garbage-values)
- [Fix mixed types error](#Fix-mixed-types-error)

In [1]:
import pandas as pd

In [2]:
traffic_tickets = pd.read_csv('./Traffic_Tickets_Issued__Four_Year_Window.csv')

C:\Users\dacrands\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

*This error will be addressed in the next section*

## Data Overview

In [3]:
"{:,} traffic tickets".format(len(traffic_tickets))

'6,298,032 traffic tickets'

In [4]:
traffic_tickets.head()

,Violation Charged Code,Violation Description,Violation Year,Violation Month,Violation Day of Week,Age at Violation,Gender,State of License,Police Agency,Court,Source
0,306B,UNINSPECTED MOTOR VEHICLE,2016,3.0,TUESDAY,21.0,M,NEW YORK,1000 ISLAND ST PRK POLICE,ADAMS TOWN COURT,TSLED
1,1180B,SPEED OVER 55 ZONE,2016,3.0,SATURDAY,18.0,F,NEW YORK,1000 ISLAND ST PRK POLICE,ADAMS TOWN COURT,TSLED
2,1180B,SPEED OVER 55 ZONE,2016,2.0,WEDNESDAY,55.0,M,NEW YORK,1000 ISLAND ST PRK POLICE,ADAMS TOWN COURT,TSLED
3,1180D,SPEED IN ZONE,2016,2.0,SUNDAY,41.0,M,NEW YORK,1000 ISLAND ST PRK POLICE,ADAMS TOWN COURT,TSLED
4,1180B,SPEED OVER 55 ZONE,2016,1.0,THURSDAY,25.0,M,NEW YORK,1000 ISLAND ST PRK POLICE,ADAMS TOWN COURT,TSLED

In [5]:
traffic_tickets.tail()

,Violation Charged Code,Violation Description,Violation Year,Violation Month,Violation Day of Week,Age at Violation,Gender,State of License,Police Agency,Court,Source
6298027,1225D,OPER MV WHILE USING PORTABLE ELEC DEV,20{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6298028,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6298029,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6298030,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6298031,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Remove missing values

In [6]:
traffic_tickets = traffic_tickets.dropna()

"{:,} traffic tickets".format(len(traffic_tickets))

'6,230,731 traffic tickets'

In [7]:
traffic_tickets.tail()

,Violation Charged Code,Violation Description,Violation Year,Violation Month,Violation Day of Week,Age at Violation,Gender,State of License,Police Agency,Court,Source
6298022,1225C2A,OPERATING MV MOBILE PHONE,2017,8.0,MONDAY,29.0,M,NEW YORK,MANHATTAN STATE POLICE,MANHATTAN NORTH TVB,TVB
6298023,4021,PLATE MISSING/INSECURE/DIRTY,2017,8.0,MONDAY,46.0,M,NEW YORK,MANHATTAN STATE POLICE,MANHATTAN NORTH TVB,TVB
6298024,1110A,DISOBEYED TRAFFIC DEVICE,2017,8.0,MONDAY,22.0,M,MARYLAND,MANHATTAN STATE POLICE,MANHATTAN NORTH TVB,TVB
6298025,1163D,IMPROPER SIGNAL,2017,8.0,MONDAY,36.0,M,NEW JERSEY,MANHATTAN STATE POLICE,MANHATTAN NORTH TVB,TVB
6298026,4014B,COM VEH ON PKWAY NYC,2017,8.0,MONDAY,42.0,M,NEW YORK,MANHATTAN STATE POLICE,MANHATTAN NORTH TVB,TVB

## Columns

View dframe columns

In [8]:
for col in traffic_tickets.columns:
    print(col + "\r")

Violation Charged Code
Violation Description
Violation Year
Violation Month
Violation Day of Week
Age at Violation
Gender
State of License
Police Agency
Court
Source

Remove unused columns

In [9]:
traffic_tickets = traffic_tickets.drop(['Source', 'Violation Charged Code'], axis='columns')

traffic_tickets.columns

Index(['Violation Description', 'Violation Year', 'Violation Month',
       'Violation Day of Week', 'Age at Violation', 'Gender',
       'State of License', 'Police Agency', 'Court'],
      dtype='object')

Create column names for dot-notation access

In [10]:
traffic_tickets = traffic_tickets.rename(columns={
    'Violation Description': 'Violation', 
    'Violation Year': 'Year', 
    'Violation Month': 'Month', 
    'Violation Day of Week': 'Day',
    'Age at Violation': 'Age', 
    'State of License': 'StateOfLicense',
    'Police Agency': 'PoliceAgency'    
})

traffic_tickets.columns

Index(['Violation', 'Year', 'Month', 'Day', 'Age', 'Gender', 'StateOfLicense',
       'PoliceAgency', 'Court'],
      dtype='object')

## Fix mixed types error

Generate sets of each column

In [11]:
traffic_ticket_sets = {}
for col in traffic_tickets.columns:
    traffic_ticket_sets[col] = set(traffic_tickets[col])

traffic_ticket_sets.keys()

dict_keys(['Violation', 'Year', 'Month', 'Day', 'Age', 'Gender', 'StateOfLicense', 'PoliceAgency', 'Court'])

Find type(s) of each column set

In [12]:
for key in traffic_ticket_sets.keys():
    print("{0}: {1}".format(
        key,
        set([type(i) for i in traffic_ticket_sets[key]])))

Violation: {<class 'str'>}
Year: {<class 'int'>, <class 'str'>}
Month: {<class 'numpy.float64'>}
Day: {<class 'str'>}
Age: {<class 'numpy.float64'>}
Gender: {<class 'str'>}
StateOfLicense: {<class 'str'>}
PoliceAgency: {<class 'str'>}
Court: {<class 'str'>}

### Clean `Year` column

In [13]:
traffic_ticket_sets["Year"]

{2016, 2017, '2017', 2014, 2015}

In [14]:
traffic_tickets = traffic_tickets.replace(to_replace="2017", value=2017)

In [15]:
set(traffic_tickets.Year)

{2014, 2015, 2016, 2017}

## Remove "Weird States"

In [16]:
len(traffic_ticket_sets["StateOfLicense"])

77

View states in `traffic_tickets`

In [17]:
traffic_ticket_sets["StateOfLicense"]

{'ALABAMA',
 'ALASKA',
 'ALBERTA CANADA',
 'AMERICAN SAMOA',
 'ARIZONA',
 'ARKANSAS',
 'ARMED FORCES',
 'ARMED FORCES AMERICA',
 'BRITISH COLUMBIA CANADA',
 'CALIFORNIA',
 'COLORADO',
 'CONNECTICUT',
 'DELAWARE',
 'DISTRICT OF COLUMBIA',
 'FLORIDA',
 'FOREIGN LICENSE',
 'GEORGIA',
 'GUAM',
 'HAWAII',
 'IDAHO',
 'ILLINOIS',
 'INDIANA',
 'INTERNATIONAL LICENSE',
 'IOWA',
 'KANSAS',
 'KENTUCKY',
 'LOUISIANA',
 'MAINE',
 'MANITOBA',
 'MARYLAND',
 'MASSACHUSETTS',
 'MEXICO',
 'MICHIGAN',
 'MINNESOTA',
 'MISSISSIPPI',
 'MISSOURI',
 'MONTANA',
 'NEBRASKA',
 'NEVADA',
 'NEW BRUNSWICK CANADA',
 'NEW HAMPSHIRE',
 'NEW JERSEY',
 'NEW MEXICO',
 'NEW YORK',
 'NEWFOUNDLAND CANADA',
 'NORTH CAROLINA',
 'NORTH DAKOTA',
 'NORTHWEST TERRITORIES CANADA',
 'NOVA SCOTIA CANADA',
 'NUNAVUT CANADA',
 'OHIO',
 'OKLAHOMA',
 'ONTARIO CANADA',
 'OREGON',
 'PANAMA',
 'PENNSYLVANIA',
 'PRINCE EDWARD ISLAND CANADA',
 'PUERTO RICO',
 'QUEBEC CANADA',
 'RHODE ISLAND',
 'SASKATCHEWAN CANADA',
 'SOUTH CAROLINA',
 'SOUTH DAKOTA',
 'TENNESSEE',
 'TEXAS',
 'UNKNOWN',
 'US FOREIGN DIPLOMATS',
 'US GOVERNMENT',
 'UTAH',
 'VERMONT',
 'VIRGIN ISLANDS',
 'VIRGINIA',
 'WASHINGTON',
 'WEST VIRGINIA',
 'WISCONSIN',
 'WYOMING',
 'YUKON TERRITORY CANADA'}

Remove **weird states** by using list of USA states:
- [List of states repo](https://gist.github.com/iamjason/8f8f4bc00c13de86bcad)

In [18]:
USA_states = ["Alaska",
          "Alabama",
          "Arkansas",          
          "Arizona",
          "California",
          "Colorado",
          "Connecticut",
          "District of Columbia",
          "Delaware",
          "Florida",
          "Georgia",          
          "Hawaii",
          "Iowa",
          "Idaho",
          "Illinois",
          "Indiana",
          "Kansas",
          "Kentucky",
          "Louisiana",
          "Massachusetts",
          "Maryland",
          "Maine",
          "Michigan",
          "Minnesota",
          "Missouri",
          "Mississippi",
          "Montana",
          "North Carolina",
          "North Dakota",
          "Nebraska",
          "New Hampshire",
          "New Jersey",
          "New Mexico",
          "Nevada",
          "New York",
          "Ohio",
          "Oklahoma",
          "Oregon",
          "Pennsylvania",          
          "Rhode Island",
          "South Carolina",
          "South Dakota",
          "Tennessee",
          "Texas",
          "Utah",
          "Virginia",          
          "Vermont",
          "Washington",
          "Wisconsin",
          "West Virginia",
          "Wyoming"]

len(USA_states)

51

Uppercase states for string comparison with existing states

In [19]:
USA_states = [ state.upper() for state in USA_states ]

Generate list of **weird states.** A state is weird is if not in the `USA_states` list

In [20]:
weird_states = [col_state for col_state in traffic_ticket_sets["StateOfLicense"] if
                    str(col_state) not in [state for state in USA_states]]

print("Showing {0} weird states: \n".format(len(weird_states)))
for i, ws in enumerate(weird_states):
    print(i, ws)

Showing 26 weird states:

0 BRITISH COLUMBIA CANADA
1 NEWFOUNDLAND CANADA
2 NOVA SCOTIA CANADA
3 SASKATCHEWAN CANADA
4 NUNAVUT CANADA
5 UNKNOWN
6 MANITOBA
7 NEW BRUNSWICK CANADA
8 ARMED FORCES
9 ONTARIO CANADA
10 FOREIGN LICENSE
11 PRINCE EDWARD ISLAND CANADA
12 PUERTO RICO
13 AMERICAN SAMOA
14 PANAMA
15 US GOVERNMENT
16 MEXICO
17 INTERNATIONAL LICENSE
18 GUAM
19 ARMED FORCES AMERICA
20 VIRGIN ISLANDS
21 NORTHWEST TERRITORIES CANADA
22 ALBERTA CANADA
23 US FOREIGN DIPLOMATS
24 QUEBEC CANADA
25 YUKON TERRITORY CANADA

Create new dframe without weird states

In [21]:
traffic_tickets = traffic_tickets[~traffic_tickets.StateOfLicense.isin(weird_states)]

In [22]:
len(set(traffic_tickets.StateOfLicense))

51

### Write clean data to pickle

In [23]:
traffic_tickets.to_pickle('clean_data.pkl')